{% extends 'Tution_app/base.html' %}
{% load static %}
{% block body %}

<div class="jumbotron" id="homebg">

  <div class="text-box" >
    <h1 id="h1">GURUKUL HOME TUTIONS</h1>
<p id="p">The function of education is to teach one to think intensively and to think critically.<br>
  Intelligence plus character – that is the goal of true education</p>
    <a href="#" id="box" class="hero-btn">Visit Us To Know More</a>
  </div>

</div>
<br><br>
<div class="jumbotron" id="picture">
  <img src="" alt="">


<!-- <img src="{% static 'images/bigpc.jpg' %}" alt=""> -->
<div class="text-box" id="pictext" data-aos="fade-up" data-aos-duration="1200">

  <h1> Why Prefer Home tution ?</h1><br>
  <p>Unfortunately, teaching in schools is insufficient for students to perform well in their examinations. <br> <br>School teachers have to handle a classroom with more than 20 students and they cannot provide personalized attention to fulfil every students which is essential for students to progress in board and competitive exams.</p>
  <p> Smaller student-teacher ratio allows students to be more focused during classes as there are minimal sources of distractions around them.</p>
 <b><p>Gurukul home tuition services always aim to provide tutors who are usually well-qualified and have a reasonable number of years of experience in teaching.</p></b>

</div>

<div class="text-box" id="pictext2" data-aos="fade-up" data-aos-duration="1200">

  <h1>Benefits Of Home Tutions</h1><br>
  <ul >


    <li>Test practice</li><br>
    <li>Homework help</li><br>
    <li>Much smaller student to teacher ratio</li><br>
    <li>Safe environment for open discussion</li><br>
    <li>Saves parents and students time </li><br>
    <li>Stronger drive to perform their very best</li><br>
    <li>Students get taught by innovative methods </li>
  </ul>


</div>





</div>
<br><br>

<div class="jumbotron" id="bg" data-aos="zoom-in" data-aos-duration="1200">

<div class="pt-5 pb-5">
  <div class="section-head col-sm-12" data-aos="zoom-in" data-aos-duration="1500">
    <h3>Why Choose<span> Gurukul?</span></h3>
  </div>
  <div class="container">
    <div class="row" id="cardss">

      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in" data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_one">
          <img src="{% static 'images/house.png' %}" alt=""></span>
          <h6>Get Tutor at Home</h6>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in" data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_two">
          <img src="{% static 'images/affordable.jpeg' %}" alt=""></span>
          <h6>Affordable</h6>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in"  data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_three">
          <img src="{% static 'images/personal.png' %}" alt=""></span>
          <h6>Personal Attention</h6>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in" data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_four">
          <img src="{% static 'images/learning.png' %}" alt=""></span>
          <h6>Better Learning</h6>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in"  data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_five">
          <img src="{% static 'images/demo.png' %}" alt=""></span>
          <h6>Free Demo</h6>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6"  data-aos="zoom-in" data-aos-duration="2000">
        <div class="item"> <span class="icon feature_box_col_six">
          <img src="{% static 'images/exp.png' %}" alt=""></span>
          <h6>Experienced Tutor</h6>
        </div>
      </div>

    </div>

  </div>

</div>
</div>

<section class="course">
  <div class="" data-aos="fade-up" data-aos-duration="2000">
  <h1>Get Your personalized Tutor</h1>
  </div>



  <div class="row">
    <div class="course-col" data-aos="flip-left" data-aos-duration="1500">
      <h3>Tutoring at your convenience</h3>
      <p>The primary benefit of home tutoring is the convenience for your child to learn at the comfort of your own home or any other preferable location. It also gives you the flexibility to choose your own preferred days and time of tutoring based on your availability. Learning at the own place leads to better use of study time and help in effective learning.
        The arrangement allows tutors to devote as much time as needed to help students improve their performance. Private lessons also help to make up for the lack of personal attention that students experience in classrooms.</p>
  </div>
    <div class="course-col" data-aos="fade-up" data-aos-duration="1200">
      <h3>One-To-One Learning</h3>
      <p>With one-to-one attention and home tutoring, Parents and home tuition teachers are better able to assess a child’s growth, performance, and area where he lags behind. Home tutor better understand a child’s learning ability so they can easily examine and provide regular feedback on the student’s responses as they work. This assessment will encourage and support your children in developing self learning skills, thus helping them to complete tasks or homework in the pre-defined time. However, in one-to-one private home tutoring, your child will get more personalized attention from the tutor</p>
    </div>
    <div class="course-col" data-aos="flip-right" data-aos-duration="1500">
      <h3>Improved Grades</h3>
      <p>A private home tutor can provide a student with required support and attention when preparing for tests and exams. Private tuition at home enables students to work smarter and achieve more in their exams. With a private home tutor, students are able to focus more on a specific problem areas and work hard to improve them by asking questions, either big or small without feeling embarrassed. Even shy students actively ask questions and get their doubts clarified. A home tutor will help improve your child’s concentration and improve the overall performance.</p>
    </div>

</section>




<!--- testimonials --->

<section class="testimonials">
  <div class="" data-aos="fade-up" data-aos-duration="2000">
    <h1>What our students says</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>


  <div class="row">
    <div class="testimonial-col" data-aos="flip-left" data-aos-duration="2000">
      <img src="{% static "images/user1.jpg" %}">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h3>Ramesh soni</h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>

    <div class="testimonial-col" data-aos="flip-right" data-aos-duration="2000">
      <img src="{% static "images/user2.jpg" %}">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h3>Sachin sharma</h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>

  </div>
</section>

<!-- Call to action -->
<div class="" data-aos="zoom-in-up" data-aos-duration="1500">
  <section class="cta">
  <h1>Providing Best Tutors at Your Doorstep.</h1>
  <a href="#" class="hero-btn">Find Tutor</a>
</section>
</div>
{% endblock %}
